# Configurações do banco de dados
spring.datasource.url=jdbc:postgresql://localhost:5432/order_manager
spring.datasource.username=seu-usuario
spring.datasource.password=sua-senha
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

# Configurações do servidor de email (SMTP)
spring.mail.host=smtp.office365.com
spring.mail.port=587
spring.mail.username=seu-email@outlook.com
spring.mail.password=sua-senha
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true


# Caminhos para o Swagger
springdoc.api-docs.path=/api-docs
springdoc.swagger-ui.path=/swagger-ui.html

# Configurações de logs com Log4j2
logging.config=classpath:log4j2.xml
logging.file.name=logs/application.log
logging.level.br.com.sibs=DEBUG
